html {
    height: 100vh;
    background: linear-gradient(to right top, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68);
}

body {
    display: block;
    color: white;
    margin: 0;
}

.contact-button {
    padding: 10px;
    border: white solid;
    margin-top: 25px;
    border-radius: 10px;
    display: inline-block;
    transition: transform 0.25s;
}

.contact-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px white;
    transform: scale(1.1);
}

@font-face {
    font-family: Aileron;
    src: url(fonts/Aileron-Regular.otf);
    font-weight: bold;
}

@font-face {
    font-family: Aileron;
    src: url(fonts/Aileron-Light.otf);
}

@font-face {
    font-family: Aileron;
    src: url(fonts/Aileron-Thin.otf);
    font-weight: lighter;
}

@keyframes hint {
    50% {transform: translate(0px, -100px);}
}

.name-block {
    font-family: Aileron;
    font-weight: lighter;
    text-align: center;
    padding-top: 40px;
}

.name-block h1 {
    font-size: 3rem;
    margin: 0;
}

.name-block h4 {
    font-size: 1.5rem;
}

.intro-block {
    width: 70%;
    font-size: 3rem;
    margin: 12vh 5vw 0;
}

@media (max-width: 1280px) {
    .intro-text-block {
        font-size: 2rem;
    }
}

.images {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    height: 100vh;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: -1;
}

.back-image {
    margin: 0 2vw;
    opacity: 0.6;
}

#smartphone-img {
    width: 11vw;
}

#tablet-img {
    width: 16vw;
}

#laptop-img {
    width: 38vw;
}

#code-img {
    width: 20vh;
}

#fullpage {
    height: 100vh;
    overflow: hidden;
}

.page {
    height: 100vh;
}

#second-page {
    background: rgb(109, 186, 189);
    position: relative;
}

#second-page::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url("images/code.svg") no-repeat;
    background-size: 25vw auto;
    background-position: top 40px right 60px;
    opacity: 0.6;
    z-index: -1;
}

.skills-and-bio {
    display: grid;
    grid-template-areas: "skills tools"
    "about about";
    grid-template-columns: 40% 60%;
    padding: 5vh 5vw;
}

.skills-and-bio h3 {
    font-size: 2.5vw;
    margin: 10px 0px;
}

#skills-list {
    grid-area: skills;
}

#tools-list {
    grid-area: tools;
}

#profile-pic {
    height: 16.5vw;
    float: left;
    border-radius: 50%;
    margin-right: 40px;
}

#aboutme {
    grid-area: about;
    font-size: 1.7vw;
    width: 85%;
}

.skills-ul {
    font-size: 1.8vw;
}

#third-page {
    position: relative;
}

#third-page-header {
    padding-top: 40px;
}

#third-page h3 {
    margin: 0;
    font-size: 3rem;
    text-align: center;
}

.projects-container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    padding: 5vh 5vw;
}

.project-div {
    position: relative;
}

.last-project-wrap {
    grid-area: last;
}

.project-screenshot {
    width: 100%;
    height: 100%;
}

.contacts {
    font-size: 35pt;
    padding-left: 50px;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #25003e;
    height: 150px;
    border-top-left-radius: 50px;
    font-size: 30pt;
}

.footer-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin: 0;
    height: 100%;
}

.footer-links a {
    font-size: 0.8em;
    outline: none;
    color: white;
    padding: 0 20px;
    text-decoration: none;
}

.footer-links a:hover {
    text-shadow: 0px 0px 3px white;
}

.curtain {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 0px;
    transition: height 0.2s;
    overflow: hidden;
}

.opened-curtain {
    height: 100%;
}

.curtain-content {
    padding: 10px;
}

.tech-span {
    border: 2px solid white;
    border-radius: 10px;
    padding: 3px;
    margin-right: 5px;
    font-size: 18pt;
    line-height: 220%;
    white-space: nowrap;
}

.curtain a {
    color: white;
    outline: none;
    text-decoration: none;
}

.project-links a {
    font-size: 1.2em;
    margin-right: 10px;
}

.project-links a:hover {
    text-shadow: 0px 0px 2px white;
}

.hint-section {
    animation: hint 1.5s 0.7s 1;
}

@media (max-width: 1280px) {
    .intro-block {
        font-size: 2.7rem;
        width: 75%;
        margin: 50px 30px;
    }
    #aboutme {
        font-size: 20pt;
    }
    .skills-ul {
        font-size: 20pt;
    }
}

@media (max-width: 900px)  {
.name-block h1{
    font-size: 28pt;
}

.intro-block {
    font-size: 2.5rem;
    margin: 50px auto;
    width: 85%;
}

.skills-and-bio h3 {
    padding-left: 18px;
    font-size: 21pt;
}
.skills-ul {
    font-size: 19pt;
}
#aboutme {
    font-size: 19pt;
    width: 90%;
}
/* third page */
.projects-container {
    padding: 10px 0px;
}
.project-div {
    margin: 5px auto 0px;
    width: 30vw;
}
@media (min-height: 560px) {
    .project-div {
        height: 20vh;
        width: auto;
    }
}
#third-page h3 {
    font-size: 18pt;
    padding: 10px 0px;
}
/* third page */
.footer {
    height: 90px;
    border-top-left-radius: 45px;
}
.footer-links {
    font-size: 4.2vw;
    padding-left: 35px;
}
.contacts p {
    font-size: 30pt;
    margin: 15px;
}
@media (min-height: 700px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}
}

@media (max-width: 600px) {
    .intro-block {
        font-size: 20pt;
        margin: 0px;
        padding: 0px 10px;
    }
    .skills-and-bio {
        grid-template-columns: 50% 50%;
    }
    #second-page::after {
        background: none;
    }
    .skills-and-bio h3 {
        font-size: 17pt;
    }
    .skills-and-bio {
        padding: 2vh 3vw;
    }
    .skills-ul {
        font-size: 16pt;
    }
    #profile-pic {
        height: 100px;
    }
    #aboutme {
        font-size: 15pt;
        width: 100%;
    }
    /* third page */
    #third-page h3 {
        font-size: 22pt;
        padding: 10px 0px;
    }
    .contacts {
        padding-left: 0px;
        text-align: center;
    }

    .contacts p {
        font-size: 16pt;
        padding-left: 20px;
        margin: 10px 0px;
    }
    .footer {
        height: 50px;
        border-top-left-radius: 25px;
    }
    .footer-links {
        font-size: 4.2vw;
        padding-left: 25px;
    }
}

@media (max-width: 500px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}

@media (max-height: 700px) {
    .intro-block {
        font-size: 18pt;
        margin: 10px 1.5vw;
    }
    .name-block {
        padding: 5px 0px;
    }
    .name-block h1, .name-block h4 {
        margin: 5px;
    }
    /* second page */
    #aboutme, .skills-ul {
        font-size: 14pt;
    }
    /* third page */
    #third-page h3 {
        padding: 0px;
    }
}

@media (max-height: 650px) {
    #aboutme, .skills-ul {
        font-size: 13pt;
    }
}

@media (max-height: 600px) {
    #aboutme, .skills-ul {
        font-size: 10pt;
    }
    .skills-and-bio h3 {
        margin: 0;
        font-size: 14pt;
    }
    .bio-text {
        padding: 0px;
    }
    #profile-pic {
        height: 25vh;
        margin-right: 15px;
    }
    @media (min-width: 735px) {
        #aboutme, .skills-ul {
            font-size: 11pt;
        }
    }
    @media (min-width: 850px) {
        #aboutme, .skills-ul {
            font-size: 12pt;
        }
    }
    /* third page */
    .contacts p {
        font-size: 15pt;
        padding-left: 0px;
        margin: 2px;
    }
}

@media (max-height: 450px) {
    .intro-block {
        font-size: 15pt;
    }
    #aboutme, .skills-ul {
        font-size: 3.9vh;
    }
}

@media (max-height: 370px) {
    .intro-block {
        font-size: 14pt;
    }
}

@media (hover: none) {
    .curtain-content {
        font-size: 1.9vw;
        padding: 3px;
    }
    .curtain-content p {
        margin: 0;
    }
    .tech-span {
        padding: 1px;
        margin-right: 2px;
        line-height: 210%;
        font-size: 1.5vw;
    }
    @media (min-height: 450px) {
        .curtain-content {
            font-size: 2.2vh;
        }
        .tech-span {
            font-size: 2vh;
        }
    }
}